.filter-resets {
	position: absolute;
    margin-top: 70px;
    width: 720px;
    border-top: 1px solid #DDD;
    float: left;
    padding-top: 30px;
    text-align: center;
}
.filters-open .filter-resets{
	margin-top: 280px;
}
.filter-resets button { 
	border: 1px solid #99cae7;
    color: #1c7abf;
    font-weight: 700;
    font-size: 13px;
    height: 30px;
    line-height: 28px;
    background: none;
    padding: 0 15px 0 10px;
    margin: 0 5px 5px 0;
    transition: background-color .2s ease-in-out;
    display: none;
}
.filter-resets button.active {
	display: inline;
}
.filter-resets button:after {
	font-size: 11px;
	font-family: sans-serif;
	content: "X";
	margin-left: 10px;
}

@media screen and (max-width: 767px) {
	#filter-select-resets {
		margin-top: 30px;
    	width: 92%;
	}
}