.no-display {
	display: none;
}

/*===========
  SELECTS
=============*/
#filter-wrapper {
  width: 720px;
  margin: 50px auto;
  z-index: 3;
  display: flex;
}
#filter-wrapper.filtered {
    margin-bottom: 150px;
  }

.h300 {
  float: left;
  max-width: 180px;
  margin: 0 5px;
}

.h300 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.h300:nth-last-child(2):after {
  content: "";
  clear: both;
  display: table;
}

.h40 {
  height: 40px;
}

.clear {
  clear: both;
}

.select {
  width: 170px;
  height: 240px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  overflow: hidden;
  color: #494452;
  font-weight: 300;
  float: left;
  margin: 0;
  position: relative;
}
.select .inner-options {
  overflow: scroll;
  height: 190px;
}

.select:before {
  content: '';
  position: absolute;
  background-color: #494452;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  top: 15px;
  right: 15px;
}

.select:after {
  content: '';
  position: absolute;
  background-color: #FFF;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  top: 20px;
  right: 15px;
}

.collapsed {
  height: 40px;
}

.collapsed:before {
  content: '';
  position: absolute;
  background-color: #494452;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  top: 10px;
  right: 15px;
}

.collapsed:after {
  content: '';
  position: absolute;
  background-color: #FFF;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  top: 5px;
  right: 15px;
}

.option,
.shown {
  width: 170px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background-color: #FFF;
  text-align: left;
}


.option {
  color: #494452;
  padding-left: 7.5px;
}

.shown {
  background-color: #FFF;
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 5px;
}

.styled-select-container {
  position: relative;
  float: left;
  border-radius: 3px;
  overflow: hidden;
  height: 40px;
  width: 300px;
  margin: 10px;
  background-color: #FFF;
}

.styled-select-container:before {
  content: '';
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  top: 10px;
  right: 15px;
}

.styled-select-container:after {
  content: '';
  position: absolute;
  z-index: 1;
  background-color: #FFF;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  top: 5px;
  right: 15px;
}

.styled-select {
  position: relative;
  z-index: 2;
  background: transparent;
  -webkit-appearance: none;
  border: 0;
  height: 40px;
  width: 100%;
  text-indent: 15px;
  font-size: 16px;
  color: #ffffff;
  outline: none;
}

.h300 .shown {
  border-bottom: 1px solid #DDD;
}

.option .inner {
  padding: 0 7.5px;
}
.option:hover .inner {
  background: #1c7abf;
  color: #fff;
  border-radius: 5px;
  float: left;
}


@media screen and (max-width: 767px) {
  #filter-wrapper {
    width: 100%;
    display: block;
  }

  .h300 {
      max-width: none;
      width: 100%;
      float: none;
      margin-bottom: 15px;
  }

  .h300 .shown,
  .h300 .select,
  .h300 .option {
      width: 100%;
      float: none;
  }
}